<a href="https://colab.research.google.com/github/gkunal8019/Cointab-Assignment/blob/main/Cointab_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
import pandas as pd
import numpy as np

In [33]:
# Load the LHS data (X's internal data)
order_report = pd.read_excel("https://archive.org/download/company-x-order-report/Company%20X%20-%20Order%20Report.xlsx")
sku_master = pd.read_excel("https://archive.org/download/company-x-order-report/Company%20X%20-%20SKU%20Master.xlsx")
pincode_zones = pd.read_excel("https://archive.org/download/company-x-order-report/Company%20X%20-%20Pincode%20Zones.xlsx")

# Load the RHS data (courier company invoice)
invoice = pd.read_excel("https://archive.org/download/company-x-order-report/Courier%20Company%20-%20Invoice.xlsx")
rate = pd.read_excel("https://archive.org/download/company-x-order-report/Courier%20Company%20-%20Rates.xlsx")

In [34]:
order_master = pd.merge(order_report, sku_master, on='SKU')

In [35]:
order_master

     ExternOrderNo            SKU  Order Qty  Weight (g)
0       2001827036  8904223818706        1.0         127
1       2001821995  8904223818706        1.0         127
2       2001819252  8904223818706        1.0         127
3       2001816996  8904223818706        1.0         127
4       2001814580  8904223818706        1.0         127
..             ...            ...        ...         ...
396     2001806616  8904223819123        1.0         250
397     2001806567  8904223815804        1.0         160
398     2001806567  8904223818577        1.0         150
399     2001806408  8904223819437        2.0         552
400     2001806232  8904223818645        6.0         137

[401 rows x 4 columns]

In [36]:
order_master.isnull().sum()

ExternOrderNo    0
SKU              0
Order Qty        0
Weight (g)       0
dtype: int64

In [37]:
order_master_invoice = pd.merge(order_master, invoice, left_on='ExternOrderNo', right_on='Order ID')

In [38]:
order_master_invoice

,ExternOrderNo,SKU,Order Qty,Weight (g),AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,2001827036,8904223818706,1.0,127,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9
1,2001827036,8904223819093,1.0,150,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9
2,2001827036,8904223819109,1.0,100,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9
3,2001827036,8904223818430,1.0,165,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9
4,2001827036,8904223819277,1.0,350,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9
...,...,...,...,...,...,...,...,...,...,...,...,...
396,2001806251,8904223819161,1.0,115,1091117222146,2001806251,1.27,121003,743263,d,Forward charges,135.0
397,2001806251,8904223819260,1.0,130,1091117222146,2001806251,1.27,121003,743263,d,Forward charges,135.0
398,2001806233,8904223819161,1.0,115,1091117222135,2001806233,0.78,121003,263139,b,Forward charges,61.3
399,2001806233,8904223819260,1.0,130,1091117222135,2001806233,0.78,121003,263139,b,Forward charges,61.3
400,2001807328,8904223818997,1.0,490,1091117324346,2001807328,2.28,121003,335502,d,Forward charges,224.6

In [43]:
final_report = pd.merge(order_master_invoice, pincode_zones, on='Customer Pincode')

In [42]:
pincode_zones[pincode_zones['Zone'] == 'e']

     Warehouse Pincode  Customer Pincode Zone
18              121003            673002    e
26              121003            783301    e
87              121003            173212    e
88              121003            174101    e
89              121003            173213    e
102             121003            175101    e
122             121003            173212    e

In [44]:
final_report

,ExternOrderNo,SKU,Order Qty,Weight (g),AWB Code,Order ID,Charged Weight,Warehouse Pincode_x,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Warehouse Pincode_y,Zone_y
0,2001827036,8904223818706,1.0,127,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,121003,e
1,2001827036,8904223819093,1.0,150,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,121003,e
2,2001827036,8904223819109,1.0,100,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,121003,e
3,2001827036,8904223818430,1.0,165,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,121003,e
4,2001827036,8904223819277,1.0,350,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,121003,e
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,2001806251,8904223819161,1.0,115,1091117222146,2001806251,1.27,121003,743263,d,Forward charges,135.0,121003,d
563,2001806251,8904223819260,1.0,130,1091117222146,2001806251,1.27,121003,743263,d,Forward charges,135.0,121003,d
564,2001806233,8904223819161,1.0,115,1091117222135,2001806233,0.78,121003,263139,b,Forward charges,61.3,121003,b
565,2001806233,8904223819260,1.0,130,1091117222135,2001806233,0.78,121003,263139,b,Forward charges,61.3,121003,b
566,2001807328,8904223818997,1.0,490,1091117324346,2001807328,2.28,121003,335502,d,Forward charges,224.6,121003,b

In [45]:
final_report['Weight (g)'].max()

600

In [46]:
final_report['weight_slab_X'] = ''

In [57]:
def weight(value):
    if value <= 50:
        return 'A'
    elif value > 50 and value <= 100:
        return 'B'
    elif value > 100 and value <= 150:
        return 'C'
    elif value > 150 and value <= 200:
        return 'D'
    elif value > 200 and value <= 250:
        return 'E'
    elif value > 250 and value <= 300:
        return 'F'
    elif value > 300 and value <= 350:
        return 'G'
    elif value > 350 and value <= 400:
        return 'H'
    elif value > 400 and value <= 450:
        return 'I'
    elif value > 450 and value <= 500:
        return 'J'
    elif value > 500 and value <= 550:
        return 'K'
    elif value > 550 and value <= 600:
        return 'L'
    else:
        return np.NaN
    
final_report = final_report.assign(weight_slab_X = final_report['Weight (g)'].apply(weight))

In [58]:
rates.head(3)

,fwd_a_fixed,fwd_a_additional,fwd_b_fixed,fwd_b_additional,fwd_c_fixed,fwd_c_additional,fwd_d_fixed,fwd_d_additional,fwd_e_fixed,fwd_e_additional,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
0,29.5,23.6,33,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

In [59]:
final_report.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 567 entries, 0 to 566
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ExternOrderNo         567 non-null    int64
 1   SKU                   567 non-null    object
 2   Order Qty             567 non-null    float64
 3   Weight (g)            567 non-null    int64
 4   AWB Code              567 non-null    int64
 5   Order ID              567 non-null    int64
 6   Charged Weight        567 non-null    float64
 7   Warehouse Pincode_x   567 non-null    int64
 8   Customer Pincode      567 non-null    int64
 9   Zone_x                567 non-null    object
 10  Type of Shipment      567 non-null    object
 11  Billing Amount (Rs.)  567 non-null    float64
 12  Warehouse Pincode_y   567 non-null    int64
 13  Zone_y                567 non-null    object
 14  weight_slab_X         567 non-null    object
dtypes: float64(3), int64(7), object(5)
memory usage: 70.9+ KB

In [61]:
final_report['weight_slab_X'].value_counts()

C    276
E    173
B     31
F     25
D     24
G     23
J      6
L      5
A      4
Name: weight_slab_X, dtype: int64

In [62]:
final_report['Weight_slab_courier'] = ''

In [63]:
def weight_courier(value):
    if value <= 0.5:
        return 'A'
    elif value > 0.5 and value <= 1:
        return 'B'
    elif value > 1 and value <= 1.5:
        return 'C'
    elif value > 1.5 and value <= 2:
        return 'D'
    elif value > 2 and value <= 2.5:
        return 'E'
    elif value > 2.5 and value <= 3:
        return 'F'
    elif value > 3 and value <= 3.5:
        return 'G'
    elif value > 3.5 and value <= 4:
        return 'H'
    elif value > 4 and value <= 4.5:
        return 'I'
    elif value > 4.5 and value <= 5:
        return 'J'
    elif value > 5 and value <= 5.5:
        return 'K'
    elif value > 5.5 and value <= 6:
        return 'L'
    else:
        return np.NaN
    
final_report = final_report.assign(Weight_slab_courier = final_report['Charged Weight'].apply(weight_courier))

In [64]:
final_report.columns

Index(['ExternOrderNo', 'SKU', 'Order Qty', 'Weight (g)', 'AWB Code',
       'Order ID', 'Charged Weight', 'Warehouse Pincode_x', 'Customer Pincode',
       'Zone_x', 'Type of Shipment', 'Billing Amount (Rs.)',
       'Warehouse Pincode_y', 'Zone_y', 'weight_slab_X',
       'Weight_slab_courier'],
      dtype='object')

In [69]:
final_report.rename(columns = {'Zone_x':'Zone_courier', 'Zone_y':'Zone_X', 'Warehouse Pincode_x':'Warehouse Pincode_courier', 'Warehouse Pincode_y':'Warehouse Pincode_X'}, inplace = True)

In [70]:
final_report['Type of Shipment'].value_counts()

Forward charges            517
Forward and RTO charges     50
Name: Type of Shipment, dtype: int64

In [71]:
'''def charge_as_per_X(ship_type,zone,weight_slab):
    if ship_type == 'Forward charges' and zone == 'b' and weight_slab == 'A':
        return float(33)
    elif ship_type == 'Forward charges' and zone == 'b' and weight_slab == 'B':
        return float(33+28.3)
    elif ship_type == 'Forward charges' and zone == 'b' and weight_slab == 'C':
        return float(33+28.3*2)
    elif ship_type == 'Forward charges' and zone == 'b' and weight_slab == 'D':
        return float(33+28.3*3)
    elif ship_type == 'Forward charges' and zone == 'b' and weight_slab == 'E':
        return float(33+28.3*4)
    elif ship_type == 'Forward charges' and zone == 'b' and weight_slab == 'F':
        return float(33+28.3*5)
    elif ship_type == 'Forward charges' and zone == 'b' and weight_slab == 'G':
        return float(33+28.3*6)
    elif ship_type == 'Forward charges' and zone == 'b' and weight_slab == 'H':
        return float(33+28.3*7)
    elif ship_type == 'Forward charges' and zone == 'b' and weight_slab == 'I':
        return float(33+28.3*8)
    elif ship_type == 'Forward charges' and zone == 'b' and weight_slab == 'J':
        return float(33+28.3*9)
    elif ship_type == 'Forward charges' and zone == 'b' and weight_slab == 'K':
        return float(33+28.3*10)
    elif ship_type == 'Forward charges' and zone == 'b' and weight_slab == 'L':
        return float(33+28.3*11)
    elif ship_type == 'Forward charges' and zone == 'd' and weight_slab == 'A':
        return float(45.4)
    elif ship_type == 'Forward charges' and zone == 'd' and weight_slab == 'B':
        return float(45.4+44.8)
    elif ship_type == 'Forward charges' and zone == 'd' and weight_slab == 'C':
        return float(45.4+44.8*2)
    elif ship_type == 'Forward charges' and zone == 'd' and weight_slab == 'D':
        return float(45.4+44.8*3)
    elif ship_type == 'Forward charges' and zone == 'd' and weight_slab == 'E':
        return float(45.4+44.8*4)
    elif ship_type == 'Forward charges' and zone == 'd' and weight_slab == 'F':
        return float(45.4+44.8*5)
    elif ship_type == 'Forward charges' and zone == 'd' and weight_slab == 'G':
        return float(45.4+44.8*6)
    elif ship_type == 'Forward charges' and zone == 'd' and weight_slab == 'H':
        return float(45.4+44.8*7)
    elif ship_type == 'Forward charges' and zone == 'd' and weight_slab == 'I':
        return float(45.4+44.8*8)
    elif ship_type == 'Forward charges' and zone == 'd' and weight_slab == 'J':
        return float(45.4+44.8*9)
    elif ship_type == 'Forward charges' and zone == 'd' and weight_slab == 'K':
        return float(45.4+44.8*10)
    elif ship_type == 'Forward charges' and zone == 'd' and weight_slab == 'L':
        return float(45.4+44.8*11)
    elif ship_type == 'Forward charges' and zone == 'e' and weight_slab == 'A':
        return float(56.6)
    elif ship_type == 'Forward charges' and zone == 'e' and weight_slab == 'B':
        return float(56.6+55.5)
    elif ship_type == 'Forward charges' and zone == 'e' and weight_slab == 'C':
        return float(56.6+55.5*2)
    elif ship_type == 'Forward charges' and zone == 'e' and weight_slab == 'D':
        return float(56.6+55.5*3)
    elif ship_type == 'Forward charges' and zone == 'e' and weight_slab == 'E':
        return float(56.6+55.5*4)
    elif ship_type == 'Forward charges' and zone == 'e' and weight_slab == 'F':
        return float(56.6+55.5*5)
    elif ship_type == 'Forward charges' and zone == 'e' and weight_slab == 'G':
        return float(56.6+55.5*6)
    elif ship_type == 'Forward charges' and zone == 'e' and weight_slab == 'H':
        return float(56.6+55.5*7)
    elif ship_type == 'Forward charges' and zone == 'e' and weight_slab == 'I':
        return float(56.6+55.5*8)
    elif ship_type == 'Forward charges' and zone == 'e' and weight_slab == 'J':
        return float(56.6+55.5*9)
    elif ship_type == 'Forward charges' and zone == 'e' and weight_slab == 'K':
        return float(56.6+55.5*10)
    elif ship_type == 'Forward charges' and zone == 'e' and weight_slab == 'L':
        return float(56.6+55.5*11)
    if ship_type == 'Forward and RTO charges' and zone == 'b' and weight_slab == 'A':
        return float(33+20.5)
    elif ship_type == 'Forward and RTO charges' and zone == 'b' and weight_slab == 'B':
        return float(33+20.5+28.3+28.3)
    elif ship_type == 'Forward and RTO charges' and zone == 'b' and weight_slab == 'C':
        return float(33+20.5+(28.3*2)+(28.3*2))
    elif ship_type == 'Forward and RTO charges' and zone == 'b' and weight_slab == 'D':
        return float(33+20.5+(28.3*3)+(28.3*3))
    elif ship_type == 'Forward and RTO charges' and zone == 'b' and weight_slab == 'E':
        return float(33+20.5+(28.3*4)+(28.3*4))
    elif ship_type == 'Forward and RTO charges' and zone == 'b' and weight_slab == 'F':
        return float(33+20.5+(28.3*5)+(28.3*5))
    elif ship_type == 'Forward and RTO charges' and zone == 'b' and weight_slab == 'G':
        return float(33+20.5+(28.3*6)+(28.3*6))
    elif ship_type == 'Forward and RTO charges' and zone == 'b' and weight_slab == 'H':
        return float(33+20.5+(28.3*7)+(28.3*7))
    elif ship_type == 'Forward and RTO charges' and zone == 'b' and weight_slab == 'I':
        return float(33+20.5+(28.3*8)+(28.3*8))
    elif ship_type == 'Forward and RTO charges' and zone == 'b' and weight_slab == 'J':
        return float(33+20.5+(28.3*9)+(28.3*9))
    elif ship_type == 'Forward and RTO charges' and zone == 'b' and weight_slab == 'K':
        return float(33+20.5+(28.3*10)+(28.3*10))
    elif ship_type == 'Forward and RTO charges' and zone == 'b' and weight_slab == 'L':
        return float(33+20.5+(28.3*11)+(28.3*11))
    elif ship_type == 'Forward and RTO charges' and zone == 'd' and weight_slab == 'A':
        return float(45.4+41.3)
    elif ship_type == 'Forward and RTO charges' and zone == 'd' and weight_slab == 'B':
        return float(45.4+41.3+44.8+44.8)
    elif ship_type == 'Forward and RTO charges' and zone == 'd' and weight_slab == 'C':
        return float(45.4+41.3+(44.8*2)+(44.8*2))
    elif ship_type == 'Forward and RTO charges' and zone == 'd' and weight_slab == 'D':
        return float(45.4+41.3+(44.8*3)+(44.8*3))
    elif ship_type == 'Forward and RTO charges' and zone == 'd' and weight_slab == 'E':
        return float(45.4+41.3+(44.8*4)+(44.8*4))
    elif ship_type == 'Forward and RTO charges' and zone == 'd' and weight_slab == 'F':
        return float(45.4+41.3+(44.8*5)+(44.8*5))
    elif ship_type == 'Forward and RTO charges' and zone == 'd' and weight_slab == 'G':
        return float(45.4+41.3+(44.8*6)+(44.8*6))
    elif ship_type == 'Forward and RTO charges' and zone == 'd' and weight_slab == 'H':
        return float(45.4+41.3+(44.8*7)+(44.8*7))
    elif ship_type == 'Forward and RTO charges' and zone == 'd' and weight_slab == 'I':
        return float(45.4+41.3+(44.8*8)+(44.8*8))
    elif ship_type == 'Forward and RTO charges' and zone == 'd' and weight_slab == 'J':
        return float(45.4+41.3+(44.8*9)+(44.8*9))
    elif ship_type == 'Forward and RTO charges' and zone == 'd' and weight_slab == 'K':
        return float(45.4+41.3+(44.8*10)+(44.8*10))
    elif ship_type == 'Forward and RTO charges' and zone == 'd' and weight_slab == 'L':
        return float(45.4+41.3+(44.8*11)+(44.8*11))
    elif ship_type == 'Forward and RTO charges' and zone == 'e' and weight_slab == 'A':
        return float(56.6+50.7)
    elif ship_type == 'Forward and RTO charges' and zone == 'e' and weight_slab == 'B':
        return float(56.6+50.7+55.5)
    elif ship_type == 'Forward and RTO charges' and zone == 'e' and weight_slab == 'C':
        return float(56.6+50.7+(55.5*2)+(55.5*2))
    elif ship_type == 'Forward and RTO charges' and zone == 'e' and weight_slab == 'D':
        return float(56.6+50.7+(55.5*3)+(55.5*3))
    elif ship_type == 'Forward and RTO charges' and zone == 'e' and weight_slab == 'E':
        return float(56.6+50.7+(55.5*4)+(55.5*4))
    elif ship_type == 'Forward and RTO charges' and zone == 'e' and weight_slab == 'F':
        return float(56.6+50.7+(55.5*5)+(55.5*5))
    elif ship_type == 'Forward and RTO charges' and zone == 'e' and weight_slab == 'G':
        return float(56.6+50.7+(55.5*6)+(55.5*6))
    elif ship_type == 'Forward and RTO charges' and zone == 'e' and weight_slab == 'H':
        return float(56.6+50.7+(55.5*7)+(55.5*7))
    elif ship_type == 'Forward and RTO charges' and zone == 'e' and weight_slab == 'I':
        return float(56.6+50.7+(55.5*8)+(55.5*8))
    elif ship_type == 'Forward and RTO charges' and zone == 'e' and weight_slab == 'J':
        return float(56.6+50.7+(55.5*9)+(55.5*9))
    elif ship_type == 'Forward and RTO charges' and zone == 'e' and weight_slab == 'K':
        return float(56.6+50.7+(55.5*10)+(55.5*10))
    elif ship_type == 'Forward and RTO charges' and zone == 'e' and weight_slab == 'L':
        return float(56.6+50.7+(55.5*11)+(55.5*11))
    else:
        return np.NaN'''

In [85]:
def charge_as_per_X(ship_type, zone, weight_slab):
    if ship_type != 'Forward charges':
        return None
    
    zone_values = {
        'b': [33, 28.3],
        'd': [45.4, 44.8],
        'e': [56.6, 55.5]
    }
    
    if zone not in zone_values:
        return None
    
    weight_slab_index = ord(weight_slab) - ord('A')
    if weight_slab_index < 0 or weight_slab_index >= 11:
        return None
    
    return float(zone_values[zone][0] + weight_slab_index * zone_values[zone][1])

In [86]:
final_report['Expected_charges'] = ''

In [87]:
final_report = final_report.assign(Expected_charges = final_report.apply(lambda row: charge_as_per_X(row['Type of Shipment'], row['Zone_X'], row['weight_slab_X']), axis=1))

In [88]:
final_report['Zone_courier'].value_counts()

d    454
b    108
e      5
Name: Zone_courier, dtype: int64

In [75]:
rates

,fwd_a_fixed,fwd_a_additional,fwd_b_fixed,fwd_b_additional,fwd_c_fixed,fwd_c_additional,fwd_d_fixed,fwd_d_additional,fwd_e_fixed,fwd_e_additional,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
0,29.5,23.6,33,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

In [89]:
final_report

,ExternOrderNo,SKU,Order Qty,Weight (g),AWB Code,Order ID,Charged Weight,Warehouse Pincode_courier,Customer Pincode,Zone_courier,Type of Shipment,Billing Amount (Rs.),Warehouse Pincode_X,Zone_X,weight_slab_X,Weight_slab_courier,Expected_charges,Difference_between_expected_and_billed_amount
0,2001827036,8904223818706,1.0,127,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,121003,e,C,D,167.6,-49.7
1,2001827036,8904223819093,1.0,150,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,121003,e,C,D,167.6,-49.7
2,2001827036,8904223819109,1.0,100,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,121003,e,B,D,112.1,5.8
3,2001827036,8904223818430,1.0,165,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,121003,e,D,D,223.1,-105.2
4,2001827036,8904223819277,1.0,350,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,121003,e,G,D,389.6,-271.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,2001806251,8904223819161,1.0,115,1091117222146,2001806251,1.27,121003,743263,d,Forward charges,135.0,121003,d,C,C,135.0,0.0
563,2001806251,8904223819260,1.0,130,1091117222146,2001806251,1.27,121003,743263,d,Forward charges,135.0,121003,d,C,C,135.0,0.0
564,2001806233,8904223819161,1.0,115,1091117222135,2001806233,0.78,121003,263139,b,Forward charges,61.3,121003,b,C,B,89.6,-28.3
565,2001806233,8904223819260,1.0,130,1091117222135,2001806233,0.78,121003,263139,b,Forward charges,61.3,121003,b,C,B,89.6,-28.3
566,2001807328,8904223818997,1.0,490,1091117324346,2001807328,2.28,121003,335502,d,Forward charges,224.6,121003,b,J,E,287.7,-63.1

In [90]:
final_report['Difference_between_expected_and_billed_amount'] = ''

In [91]:
final_report['Difference_between_expected_and_billed_amount'] = final_report['Billing Amount (Rs.)'] - final_report['Expected_charges']

In [92]:
final_report['Difference_between_expected_and_billed_amount']

0      -49.7
1      -49.7
2        5.8
3     -105.2
4     -271.7
       ...
562      0.0
563      0.0
564    -28.3
565    -28.3
566    -63.1
Name: Difference_between_expected_and_billed_amount, Length: 567, dtype: float64

In [94]:
final_report.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 567 entries, 0 to 566
Data columns (total 18 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   ExternOrderNo                                  567 non-null    int64
 1   SKU                                            567 non-null    object
 2   Order Qty                                      567 non-null    float64
 3   Weight (g)                                     567 non-null    int64
 4   AWB Code                                       567 non-null    int64
 5   Order ID                                       567 non-null    int64
 6   Charged Weight                                 567 non-null    float64
 7   Warehouse Pincode_courier                      567 non-null    int64
 8   Customer Pincode                               567 non-null    int64
 9   Zone_courier                                   567 non-null    object
 10  Type of Shipment                               567 non-null    object
 11  Billing Amount (Rs.)                           567 non-null    float64
 12  Warehouse Pincode_X                            567 non-null    int64
 13  Zone_X                                         567 non-null    object
 14  weight_slab_X                                  567 non-null    object
 15  Weight_slab_courier                            567 non-null    object
 16  Expected_charges                               514 non-null    float64
 17  Difference_between_expected_and_billed_amount  514 non-null    float64
dtypes: float64(5), int64(7), object(6)
memory usage: 84.2+ KB

In [84]:
final_report.to_excel('cointab_final_report.xlsx', index = False)